{% include 'navbar.html' %}

<title> {{article.title}} </title>

</head>
<body> 
<input type="hidden" id="cart_token" name="cart_token" value="x">

<div>

{% if article.img == "" %}
{% else %}
<center><img src="{{mediaurl}}{{article.img}}" style="width:100%;height:200px;"></center>
{% endif %}
<br>
<center><div style="border: 3px solid ;width:50%">
<font style="font-size:35px;"> {{article.title}} </font> <br>

{% if edit == 1 %} <a href="..\..\edit-article\{{article.id}}"><button> Edit article </button></a> 

{% else %} {% endif %}

<font> {{article.author.name}} -- </font>
<font> {{article.date}} </font>
<br><br>

<p align="left">
<font style="font-size:20px;margin-left:4px;">
{{article.content}}
</font>
<br>
{% if nolike == 0 %} 
<button onclick="add_like({{article.id}})" style="background-color:lime;color:white;"> 
{% else %}
<button>
{% endif %}

{% if nolike == 1 %}
<a href="{% url 'login' %}"> Login to like </a>

{% elif like == 0 %}
like ! 


{% else %}
Unlike 

{% endif %}
</button>

<font> likes: {{article.likes}} </font>

</p>
</div>
</body>

<script>

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');

function add_like(a_id){
    console.log('User is logged in, sending data...')
    var url='/like/'

    fetch(url,{
        method:'POST',
        headers:{
            'Content-Type':'application/json',
            'X-CSRFToken':csrftoken,
        },
        body: JSON.stringify({'article':a_id})
        })

    .then((response)=>{
        return response.json()

      })

    .then((data) => {
        location.reload()
        //return 0 
    })

console.log("liked!")
}

</script>
</html>
