{% include 'navbar.html' %}

<title> Edit Profile </title>

</head>
<body> 

{% if msg %}
{{msg}}
{% endif %}
<br><br><br>
<div style="border:5px solid black;width:45%;margin-left:20%;">
<br>
<form method="POST" enctype="multipart/form-data" action="">
    {% csrf_token %}
 <center>   <label for="id_img">Img:</label>
    <input type="file" name="img" accept="image/*" id="id_img" value="0"><br><br>
    <label for="id_name">Name:</label>   <input type="text" name="name" id="id_name" value="{{name}}"> <br><br><br>
    <label for="id_bio">bio:</label><br>
    <textarea name="bio" cols="40" rows="10" required="" id="id_bio" style="width:500px;">{{bio}}</textarea>
    <br>
    <input type="submit" value="Submit">
</form>

</body>
</html>
