{% include 'navbar.html' %}

<title> Write Article </title>

</head>
<body> 
<br><br><br>
<div style="border:5px solid black;width:45%;margin-left:20%;">
<form method="POST" enctype="multipart/form-data"><br>
    {% csrf_token %}
<center>   <label for="id_img">Img:</label>
    <input type="file" name="img" accept="image/*" id="id_img" value="0"><br><br>
    Title: <input type="text" name="title" value="{{title}}" > <br><br><br>
    <label for="id_content">Contents:</label><br>
    <textarea name="content" cols="40" rows="10" required="" id="id_content" style="width:500px;">{{content}}</textarea>
    <br>
    <input type="submit" value="Submit"></center>
</form>


</body>
</html>
