{% include 'navbar.html' %}

<title> Write Article </title>

</head>
<body> 

{% if msg %}
{{msg}}
{% endif %}
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4>Login</h4>
          </div>
          <div class="card-body">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<center>Dont have an account? <a href="{% url 'register' %}"> Register here! </a></center>




{% include 'foot.html' %}
