{% include 'navbar.html' %}

<title> {{title}} </title>

</head>
<body> 

 <section class="container mt-4">
  <div class="row">

{% for article in articles %}


<div class="col-md-4 mb-4">
<a href="article/{{article.id}}" style="text-decoration: none;  color: black;">
    <div class="card">
<img src="{{mediaurl}}{{article.img}}" <!--style="width:130px;height:130px;"-- class="card-img-top">
<div class="card-body">
      <h2 class="card-title"> {{article.title}} </h2>
<font> {{article.author.name}} </font>
<font> {{article.date}} </font>
     </div>
    </div>
</a>
   </div>



{% endfor %}
</div>
</section>

{% if articles.has_other_pages %}
  <ul class="pagination">
    {% if articles.has_previous %}
      <li><a href="?page={{ articles.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in articles.paginator.page_range %}
      {% if articles.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if articles.has_next %}
      <li><a href="?page={{ articles..next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}


{% include 'foot.html' %}
 
