{% include 'navbar.html' %}

<title> My Blog - Register </title>

</head>
<body> 

{% if msg %}
{{msg}}
{% endif %}
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4>Register</h4>
          </div>
          <div class="card-body">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>



{% include 'foot.html' %}
