{% include 'navbar.html' %}

<title> Write Article </title>

</head>
<body> 

  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-7">
        <div class="card">
          <div class="card-header">
            <center><h4>Write an article</h4></center>
          </div>
          <div class="card-body">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Post</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>



{% include 'foot.html' %}
